:root {
    color-scheme: dark;
    font: 500 1rem/1 Inter, sans-serif;
    --foreground: hsl(247, 10%, 18%);
    --background: hsl(247, 5%,  22%);
}
html {
    background-color: hsl(247, 10%, 40%);
    background-image: url(./assets/leather.png);
    background-size: 750px;
}
body { margin: 0 }
.pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    aspect-ratio: 1;
    padding: 1rem;
    margin-inline: auto;
    max-height: min(calc(100vh - 2rem), 800px);
    max-width: min(calc(100vw - 2rem), 800px);
}
.pad > button {
    aspect-ratio: 1;
    padding: 0;
    background-image: url(./assets/noise.png);
    background-size: 50%;
    background-color: hsl(247, 10%, 18%);
    border-radius: .75rem;
    border: 0;
    position: relative;
    box-shadow: 0 .15rem .75rem #111;
    touch-action: none;
    user-select: none;
}
.pad > button::before {
    position: absolute;
    inset: -1px;
    border-radius: calc(.75rem + 2px);
    content: "";
    background-image: linear-gradient(#555 0%, #333 10%, #333 80%, #222 100%);
    z-index: -1;
}
.pad > button:is(:hover, :focus-visible) {
    outline: none;
    box-shadow: 0 .15rem .75rem hsl(150, 80%, 60%);
}
.pad > button:active {
    transform: scale(.99);
    box-shadow: 0 0 .65rem -.15rem hsl(170, 80%, 60%);
}
.pad > button:is(:hover, :focus-visible, :active)::before {
    background: none;
}

.file-inputs input {
    display: none;
}
